.weather-tile {
  border: 1px solid #ec6e4c;
  border-radius: 10px;
  text-align: center;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
}
.icon-bar {
  font-size: 17px;
  color: #e0a800;
}
.days {
  font-family: "Roboto", sans-serif;
  color: #183153;
}
.temp-bar {
  font-size: 22px;
  font-weight: 600;
}
.units {
  position: relative;
  top: -20px;
}
